@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
    --orange: hsl(26, 100%, 55%);
    --light-orange: hsl(25, 80%, 70%);
    --pale-orange: hsl(25, 100%, 94%);

    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --black-75: hsla(0, 0%, 0%, 0.75);

    --font-header-items: 400 16px "Kumbh Sans", sans;
    --font-header-product: 700 14px "Kumbh Sans", sans;
    --font-main-header: 700 44px "Kumbh Sans", sans;
    --font-product-desc: 400 16px "Kumbh Sans", sans;
    --font-discount-price: 700 30px "Kumbh Sans", sans;
    --font-discount: 700 18px "Kumbh Sans", sans;
    --font-full-price: 700 16px "Kumbh Sans", sans;
    --font-quantity: 700 16px "Kumbh Sans", sans;
    --font-button: 700 16px "Kumbh Sans", sans;

    --spacing-44: 44px;
    --spacing-35: 35px;
    --spacing-30: 30px;
    --spacing-24: 24px;
    --spacing-20: 20px;
    --spacing-15: 15px;
    --spacing-12: 12px;
    --spacing-10: 10px;
}

* {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0px 12%;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--spacing-44);
    height: 112px;
    border-bottom: 1px solid var(--grayish-blue);
}

#main-image-lightbox {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    transition: all 0.3s ease;
}

#main-image-lightbox img {
    width: 100%;
    position: absolute;
}

.lightbox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-75);
    left: 0;
    top: 0;
}

.lightbox.active {
    display: flex;
}

.lightbox .images {
    max-height: 100%;
    max-width: 500px;
}

.close-lightbox {
    font-size: 36px;
    color: var(--white);
    cursor: pointer;
    text-align: right;
    transition: all 0.3s ease;
}

.close-lightbox:hover {
    color: var(--orange);
    transition: all 0.3s ease;
}

.lightbox .wrapper {
    position: relative;
}

.lightbox-container {
    width: 100%;
    max-width: 500px;
    position: absolute;
}

.lightbox-controls {
    width: 100%;
    z-index: 30;
    position: absolute;
    height: 75px;
    top: 50%;
    transform: translateY(-50%);
}

.lightbox-previous,
.lightbox-next {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.lightbox-next {
    right: 0;
    transform: translateX(50%);
}

.lightbox-previous {
    left: 0;
    transform: translateX(-50%);
}

.lightbox-previous:hover img,
.lightbox-next:hover img {
    filter: brightness(0) saturate(100%) invert(68%) sepia(59%) saturate(342%) hue-rotate(338deg)
        brightness(95%) contrast(99%);
}

.menu {
    display: none;
    cursor: pointer;
}

.menu-section {
    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: var(--black-75);
    z-index: 20;
    left: 0;
    top: 0;
}

.menu-section.active {
    display: block;
}

.menu-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background-color: var(--white);
    padding: var(--spacing-20);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-44);
}

.menu-content ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    list-style: none;
}

.menu-list li {
    border-right: 3px solid transparent;
    cursor: pointer;
}

.close {
    cursor: pointer;
}

.header-list {
    display: flex;
    list-style-type: none;
    gap: var(--spacing-35);
    font: var(--font-header-items);
    height: 100%;
    position: relative;
}

.header-list li {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header-list li.selected::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: var(--orange);
}

.cart {
    margin-left: auto;
    display: flex;
    height: 100%;
    align-items: center;
}

.cart img {
    width: 22px;
    height: 22px;
}

.cart:hover {
    cursor: pointer;
}

.cart-content {
    border-radius: 4px;
    display: none;
    z-index: 10;
    position: absolute;
    flex-direction: column;
    right: 0;
    background-color: white;
    box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.48);
    top: 0;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 230px;
}

.cart-content h3 {
    border-bottom: 1px solid var(--grayish-blue);
    padding: var(--spacing-20);
}

.cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-15);
    padding: var(--spacing-20);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    width: 100%;
    gap: var(--spacing-10);
}

.item-image {
    height: 100%;
    border-radius: 8px;
}

.delete-item {
    width: 15px;
    height: 18px;
    cursor: pointer;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-direction: column;
    padding: 5px;
    margin-right: auto;
}

.total-price {
    font: var(--font-discount-price);
    font-size: 16px;
}

.checkout {
    cursor: pointer;
    height: 50px;
    width: 100%;
    background-color: var(--orange);
    border: none;
    border-radius: 8px;
    font: var(--font-button);
    transition: all 0.3s ease;
}

.checkout:hover {
    background-color: var(--light-orange);
    transition: all 0.3s ease;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.profile:hover {
    border: 1px solid var(--orange);
    transition: all 0.3s ease;
}

main {
    padding: 90px 50px 2px 50px;
    display: flex;
    justify-content: center;
    gap: 128px;
    width: 100%;
    height: min-content;
    position: relative;
}

.img-wrapper,
.img-wrapper-lightbox {
    display: flex;
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    border: 3px solid transparent;
}

.img-wrapper.selected,
.img-wrapper-lightbox.selected {
    border: 3px solid var(--orange);
    background-color: var(--white);
}

.img-wrapper.selected img,
.img-wrapper-lightbox.selected img {
    filter: opacity(35%);
}

.img-wrapper img,
.img-wrapper-lightbox img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.img-wrapper:not(.selected):hover img,
.img-wrapper-lightbox:not(.selected):hover img {
    filter: opacity(50%);
    transition: 0.3s ease;
}

.small-images {
    display: flex;
    max-width: 100%;
    gap: var(--spacing-30);
}

.images {
    position: relative;
    width: 100%;
    min-width: 340px;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
    overflow: hidden;
    flex-shrink: 2;
}

.img-phone-controls {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--spacing-44);
}

.next,
.previous {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
}

.next img,
.previous img {
    width: 13px;
    height: 18px;
}

.wrapper {
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

#main-image {
    display: flex;
    position: relative;
    aspect-ratio: 1 / 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#main-image.active-2,
#main-image-lightbox.active-2 {
    transform: translateX(-100%);
}

#main-image.active-3,
#main-image-lightbox.active-3 {
    transform: translateX(-200%);
}

#main-image.active-4,
#main-image-lightbox.active-4 {
    transform: translateX(-300%);
}

#main-image > img {
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

#img-2,
#lb-img-2 {
    transform: translateX(100%);
}

#img-3,
#lb-img-3 {
    transform: translateX(200%);
}

#img-4,
#lb-img-4 {
    transform: translateX(300%);
}

.product {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-24);
    flex-shrink: 1;
}

.company {
    font: var(--font-header-product);
    opacity: 0.6;
    letter-spacing: 0.2 em;
    text-transform: uppercase;
}

h1 {
    font: var(--font-main-header);
}

.description {
    margin-top: var(--spacing-10);
    font: var(--font-product-desc);
    opacity: 0.7;
    line-height: 150%;
}

.price-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
}

.discounted-price {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
}

.price {
    font: var(--font-discount-price);
}

.full-price {
    font: var(--font-full-price);
    opacity: 0.6;
    text-decoration: line-through;
}

.discount {
    font: var(--font-discount);
    color: var(--white);
    background-color: var(--black);
    padding: 2px 10px;
    border-radius: 4px;
}

.buy-section {
    height: 55px;
    display: flex;
    gap: var(--spacing-15);
}

.quantity {
    width: 35%;
    padding: 5px 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue);
    font: var(--font-quantity);
}

.add-to-cart {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-15);
    font: var(--font-button);
    background-color: var(--orange);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-to-cart:hover {
    background-color: var(--light-orange);
    transition: all 0.3s ease;
}

.add-to-cart img {
    filter: brightness(0) saturate(100);
}

.quantity-img {
    height: 100%;
    display: flex;
    align-items: center;
}

.quantity-img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(68%) sepia(59%) saturate(342%) hue-rotate(338deg)
        brightness(95%) contrast(99%);
}

.attribution {
    font-size: 15px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1300px) {
    main {
        padding: var(--spacing-44) 0 0 0;
        gap: 88px;
    }

    .product {
        gap: var(--spacing-10);
    }

    .product h1 {
        font-size: 2.5vw;
    }

    .images {
        min-width: 280px;
        max-width: 340px;
        gap: var(--spacing-12);
    }

    .small-images {
        gap: var(--spacing-12);
    }
}

@media (max-width: 1120px) {
    .header-list {
        gap: var(--spacing-15);
    }
}

@media (max-width: 890px) {
    body {
        padding: 0px var(--spacing-24);
    }

    main {
        gap: var(--spacing-30);
    }

    .header-list {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media (max-width: 600px) {
    header {
        padding: 0px var(--spacing-10);
        height: 75px;
        gap: var(--spacing-12);
    }

    body {
        padding: 0;
    }

    .lightbox.active {
        display: none;
    }

    .cart-content {
        margin: 20px;
    }

    .img-phone-controls {
        display: flex;
    }

    .next,
    .previous {
        cursor: pointer;
    }

    .next:hover img,
    .previous:hover img {
        filter: brightness(0) saturate(100%) invert(68%) sepia(59%) saturate(342%)
            hue-rotate(338deg) brightness(95%) contrast(99%);
    }

    main {
        padding: var(--spacing-12) 0px 0px 0px;
        flex-direction: column;
        align-items: center;
    }

    .images {
        max-width: 100%;
        height: 100%;
        align-items: center;
    }

    .wrapper {
        width: 100%;
        max-width: 300px;
    }

    .small-images {
        display: none;
    }

    .product h1 {
        font-size: 5vw;
    }
}

@media (max-width: 450px) {
    main {
        padding: 0;
    }

    .images {
        border-radius: 0px;
    }

    .cart-content {
        width: 90%;
        right: auto;
        max-width: 100%;
    }

    .img-phone-controls {
        padding: 0px var(--spacing-12);
    }

    .wrapper {
        max-width: 100%;
        border-radius: 0px;
    }

    .product {
        height: 100%;
        justify-content: flex-start;
        padding: 0px var(--spacing-10);
    }

    .buy-section {
        flex-direction: column;
        height: 100%;
        padding-bottom: var(--spacing-12);
    }

    .buy-section > div {
        height: 50px;
        width: 100%;
    }

    .price-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-15) 0px;
    }

    .quantity {
        justify-content: space-between;
    }

    .add,
    .substract {
        width: 30px;
    }

    .add {
        justify-content: flex-end;
    }

    .description {
        margin: 0;
    }
}
